 <div class="container"> 
  <div class="row">
    <div class="col col-sm-6 col-sm-offset-3">
    <p id="notice"><%= notice %></p>

    <h1>Lyfe Styles</h1>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Tags</th>
          <th colspan="3"></th>
        </tr>
      </thead>

  <tbody>
    <% @styles.each do |style| %>
      <tr>
        <td><%= style.name %></td>
        <% if style.tags.any? %>
          <td><%= style.tags.first.desc %></td>
        <%else%>
          <td></td>
        <%end%>
        <td><%= style.user.first_name %></td>
        <td><%= link_to 'Show', style %></td>
        <td><%= link_to 'Edit', edit_style_path(style) %></td>
        <td><%= link_to 'Destroy', style, method: :delete, data: { confirm: 'Are you sure?' } %></td>

          <!-- below 2 lines can put in controller -->        
          <% @favorites = Favorite.where(object: 'style')%>
          <% @favorites = @favorites.where(objectid: style.id)%>
          <% if !@favorites.where(user_id: current_user.id).any? %>          
            <td><%= link_to 'Mark as favorite', edit_event_user_path(style) %></td>
          <% else %>
            <td>Already favorited</td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

    <br>

    <%= link_to 'New Style', new_style_path %>
    </div>
  </div>
</div>