<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @style.name %>
</p>

<p>
  <strong>Tags:</strong>
  <% @style.tags.each do |x| %>
  <%= x.desc %>
  <% end %>
</p>


          <% @style.style_photos.each do |x| %>
            <div><%= image_tag x.image.sponsor %></div>
          <% end %>

<%= link_to 'Edit', edit_style_path(@style) %> |
<%= link_to 'Back', styles_path %>
