<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @style.name %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @style.tags %>
</p>

<p>
  <strong>User:</strong>
  <%= @style.user %>
</p>

<%= link_to 'Edit', edit_style_path(@style) %> |
<%= link_to 'Back', styles_path %>
